training7/xsd.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name='person'/>
    <xs:complexType>
        <xs:sequence>
            <xs:element name="children" type="childrenType"/>
            <xs:element name="name" type="nameType"/>
        </xs:sequence>
    </xs:complexType>

   


